/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* CSS Reset */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

/* Navbar */

nav {
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: #F0EBE3;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    margin: 0 24px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #3D4F52;
}

/* End of Navbar */

/* Jumbotron */
.jumbotron {
    height: 90vh;
    background-image: url(./img/header.jpg);
    background-size: cover;
    background-position: center;
}

.jumbotron .caption {
    width: 80%;
    margin: 0 auto;
}

.jumbotron .caption {
    position: relative;
    top: 160px;
    color: #E9E2D6;
}

.jumbotron .caption h4 {
    font-size: 26px;
    font-weight: 500;
}

.jumbotron .caption h2 {
    font-size: 56px;
    font-weight: 600;
}

.jumbotron .caption p {
    font-size: 22px;
    font-weight: 400;
}
/* End of Jumbotron */

/* Profile */

.profile {
    height: 55vh;
    padding: 40px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.profile-set {
    display: flex;
    justify-content: space-between;
}

.profile-details {
    width: 40%;
}

.profile-details h2 {
    font-size: 40px;
    color: #3D4F52;
}

.profile-details p {
    font-size: 21px;
    color: #3D4F52;
    opacity: 80%;
    margin-top: 16px;
}

.profile-details button {
    width: 282px;
    height: 56px;
    border-radius: 15px;
    background-color: #576F72;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin-top: 70px;
}

.profile-map {
    width: 50%;
}
/* End of Profile */

/* Porto */

.porto {
    height: 90vh;
    background-color: #7D9D9C;
    padding: 64px 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.title h2 {
    color: #F0EBE3;
    font-size: 40px;
}

.line {
    width: 100%;
    height: 5px;
    background-color: #E9E2D6;
    border-radius: 5px;
    margin-bottom: 6px;
}

.line1 {
    width: 90%;
    height: 5px;
    background-color: #7D9D9C;
    border-radius: 5px;
    margin-bottom: 6px;
    margin-top: -11px;
}

.line2 {
    width: 85%;
    height: 5px;
    background-color: #7D9D9C;
    border-radius: 5px;
    margin-bottom: 6px;
    margin-top: -11px;
}

.line3 {
    width: 75%;
    height: 5px;
    background-color: #7D9D9C;
    border-radius: 5px;
    margin-bottom: 6px;
    margin-top: -11px;
}

.porto-set {
    display: flex;
    justify-content: space-between;
    height: 60vh;
}

.porto-sl {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #3D4F52;
}

.porto-sl h4 {
    font-size: 32px;
    margin-bottom: 10px;
}

.porto-sl h6 {
    font-size: 18px;
    font-weight: 400;
}

.porto-skill {
    background-color: #c0c6bd;
    height: 45%;
    border-radius: 15px;
    padding: 24px;
}

.porto-lang {
    background-color: #c0c6bd;
    height: 45%;
    border-radius: 15px;
    padding: 24px;
}

.porto-exp {
    width: 30%;
    background-color: #c0c6bd;
    border-radius: 15px;
    padding: 24px;
    color: #3D4F52;
}   

.porto-exp h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.porto-exp span {
    color: #366D6A;
    font-size: 20px;
    font-weight: 600;
}

.porto-exp h6 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.porto-exp p {
    font-size: 16px;
    opacity: 80%;
}

.porto-edu {
    width: 30%;
    background-color: #c0c6bd;
    border-radius: 15px;
    padding: 24px;
    color: #3D4F52;
}

.porto-edu h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.porto-edu span {
    color: #366D6A;
    font-size: 20px;
    font-weight: 600;
}

.porto-edu h6 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.porto-edu p {
    font-size: 16px;
    opacity: 80%;
}

.line-dark {
    width: 100%;
    height: 3px;
    background-color: #3D4F52;
    border-radius: 5px;
    margin: 32px 0;
}

/* End of Porto */

/* Resume */

.resume {
    height: 150vh;
    padding: 64px 0;
}

.container-resume {
    width: 70%;
    margin: 0 auto;
}

.container-resume .title h2 {
    color: #3D4F52;
}

.resume-detail {
    margin: 64px 0;
    display: flex;
    justify-content: space-between;
    color: #3D4F52;
}

.resume-detail img {
    width: 25%;
}

.resume-detail .content-desc {
    width: 70%;
}

.content-desc h4 {
    font-size: 30px;
}

.content-desc span {
    color: #366D6A;
    font-size: 20px;
    font-weight: 600;
}

.content-desc p {
    font-size: 16px;
    opacity: 80%;
    margin-top: 56px;
}

/* End of Resume */

/* Footer */
footer{
	background-color: #7D9D9C;
	height: 20vh;

}
.set-footer {
    display: flex;
	justify-content: space-between;
}
.brand-icon{
	margin-top: 85px;
}
.brand-icon i{
	margin: 0px 20px;
	font-size: 25px;
}
.brand-icon a{
	color: #fff;
}
.button-hire{
	margin-top: 65px;
}
.button-hire button{
	background-color: #576F72;
    color: #fff;
	width: 240px;
	height: 60px;
	border-radius: 15px;
	border: none;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}
.button-hire a{
    background-color: #576F72;
    color: #fff;
	width: 240px;
	height: 60px;
	border-radius: 15px;
	border: none;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
    text-decoration: none;
}
.contact{
	margin-top: 55px;
}
.contact ul li{
	list-style: none;
	font-size: 17px;
	font-weight: 600;
    color: #fff;
    margin: 4px 0;
}
.contact ul li span{
	margin-left: 20px;
}
/* End Of Footer */

/* Media Query */
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
@media screen and (max-width: 960px) {
    .nav{
        position: inherit;
    }

    .jumbotron{
        width: 90%;
        margin: 25px auto;
    }

    .sidebar{
        width: 100%;
        margin: 25px 0 0;
        float: right;
    }

    .sidebar .widget{
        padding: 5%;
    }

    nav.menu ul{
        width: 100%;
    }

    nav.menu ul{
        float: inherit;
    }

    nav.menu ul li{
        float: inherit;
        margin: 0;
    }

    nav.menu ul a{
        padding: 15px;
        font-size: 16px;
        border-top: 1px solid #1abf9f;
        border-bottom: 1px solid #16a085;
    }

    .blog{
        width: 90%;
    }

    .conteudo{
        float: inherit;
        margin: 0 auto 25px;
        width: 101%;
        border: 1px solid #dedede;
        padding: 5%;
        background: #fff;
    }

    .conteudo img{
        max-width: 110%;
        margin: 0 0 25px -5%;
        min-width: 110%;
    }

    .conteudo .continue-lendo:hover{
        margin-left: 0;
    }
}

@media screen and (max-width: 460px) {

    nav.menu ul a{
        padding: 15px;
        font-size: 14px;
    }

    .sidebar{
        display: none;
    }

    .post-info{
        display: none;
    }

    .conteudo{
        margin: 25px auto;
    }

    .conteudo img{
        margin: -5% 0 25px -5%;
    }
}
/* End of Media Query */
